<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.3.8/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <title>Tarocchi</title>
</head>

<body>
    <!-- Container generale -->
    <div id="app" class="container mt-5">
        <h1 class="text-center mt-4">I tarocchi di Chiara</h1>
        <button class="btn btn-outline-secondary" @click="mischiaMazzo(deck)">Mischia carte</button>
        <button class="btn btn-outline-secondary" @click="resetPartita()">Reset
            partita</button>
        <button v-show="playerCards.length == 5 && !gameStarted" class="btn btn-outline-secondary"
            @click="startGame()">Inizia
            partita</button>
        <div class="row">
            <template v-if="!gameStarted">
                <div v-for="(card, index) in deck" class="col-3 m-3 d-flex flex-column justify-content-between"
                    style="width: 18rem;" @click="selectCard(index)">
                    <img :src="(card.selected == true) ? card.image : 'https://lh3.googleusercontent.com/proxy/mY45oqVs692Wre4FX7QDsRtB8mjYy7tokkmJWWIWbDV6UPb5PWrDcUIk9f1vmRZlABCfpl561Pt4PKggmKW5ZKG9FdTTa1rEC0saPnKMh8Ih61wxme_DluoT'"
                        class="card-img-top" alt="{{card.name}}">
                </div>
            </template>
            <template v-else>
                <div v-for="(card, index) in playerCards" class="col-3 m-3 d-flex flex-column justify-content-between"
                    style="width: 18rem;">
                    <img :src="card.image" class="card-img-top" alt="{{card.name}}">
                    <p class="card-text">{{card.name}}</p>
                </div>
            </template>


        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>